# Created by .ignore support plugin (hsz.mobi)
.idea
OrangTerbang.iml
target
src/main/resources/images/Surface-of-Brown-Leather-Bag.jpg
src/main/resources/images/WallPaper-HD-3085.jpg
src/main/resources/images/wildtextures-brown-edged-leather-texture.jpg
src/main/resources/images/vintage-leather-bag-brown-worn.jpg